@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-upload {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.ant-upload-list {
    text-align: center;
}
.react-tel-input .form-control {
    border: none !important;
    box-shadow: none !important;
}

.react-tel-input .flag-dropdown {
    border: none !important;
    box-shadow: none !important;
}